<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>主页</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body class="container">
	<div class="row">
		<h1>后台管理中心</h1>
	</div>
    <div class="list-inline">
		<a href="/test/Test/index" >留言列表</a>
		<a href="/test/Test/mine" >我的留言</a>
		<a href="/test/User/index">用户信息</a>
		<a href="/test/index/logout">退出登录</a>
	</div>	
    <div>
    	{__CONTENT__}
    </div>
</body>
</html>